body{
    background-color: #39cc45;
    
    
}

.container{
    width: 120px;
    height: 250px;
    background-color: #23241b;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
   
}

.circle{
    width: 60px;
    height: 60px;
    background-color: #151617;
    border-radius: 50%;
}



/* .red{
    background-color: red;
    box-shadow: 0 0 20px 5px red;

} */

/* .yellow{
    background-color: #d9e00b;
    box-shadow: 0 0 20px 5px #d9e00b;

} */

/* .green{
    background-color: #06d417;
    box-shadow: 0 0 20px 5px #06d417;

} */